/* .vitepress/public/custom.css */
:root {

/**
 * Colors: Background
 *
 * - `bg`: The bg color used for main screen.
 *
 * - `bg-alt`: The alternative bg color used in places such as "sidebar",
 *   or "code block".
 *
 * - `bg-elv`: The elevated bg color. This is used at parts where it "floats",
 *   such as "dialog".
 *
 * - `bg-soft`: The bg color to slightly distinguish some components from
 *   the page. Used for things like "carbon ads" or "table".
 * -------------------------------------------------------------------------- */


    --vp-c-bg: #ffffff;
    --vp-c-bg-alt: #f6f6f7;
    --vp-c-bg-elv: #ffffff;
    --vp-c-bg-soft: #f6f6f7;
  }
  
  html[data-theme="dark"] {
    --vp-c-bg: #272727a6;
    --vp-c-bg-alt: #161618;
    --vp-c-bg-elv: #202127;
    --vp-c-bg-soft: #1f1f1f;
  }

/**
 * Colors: Borders
 *
 * - `divider`: This is used for separators. This is used to divide sections
 *   within the same components, such as having separator on "h2" heading.
 *
 * - `border`: This is designed for borders on interactive components.
 *   For example this should be used for a button outline.
 *
 * - `gutter`: This is used to divide components in the page. For example
 *   the header and the lest of the page.
 * -------------------------------------------------------------------------- */

 :root {
    --vp-c-border: #c2c2c4;
    --vp-c-divider: #e2e2e3;
    --vp-c-gutter: #e2e2e3;
  }
  
  html[data-theme="dark"] {
    --vp-c-border: #3c3f44;
    --vp-c-divider: #2e2e32;
    --vp-c-gutter: #616161cc;
  }

  /* custom.css */

  /* Increase base font size for the whole site */
body {
    font-size: 18px !important; /* Adjusts the main body's font size */
  }

/**
 * Colors: Palette
 *
 * The primitive colors used for accent colors. These colors are referenced
 * by functional colors such as "Text", "Background", or "Brand".
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *    It must satisfy the contrast ratio with pure white (#ffffff) text on
 *    top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *    or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *    on top of it.
 *
 *    The soft color must be semi transparent alpha channel. This is crucial
 *    because it allows adding multiple "soft" colors on top of each other
 *    to create a accent, such as when having inline code block inside
 *    custom containers.
 * -------------------------------------------------------------------------- */

 :root {
    --vp-c-gray-1: #dddde3;
    --vp-c-gray-2: #e4e4e9;
    --vp-c-gray-3: #ebebef;
    --vp-c-gray-soft: rgba(142, 150, 170, 0.14);
  
    --vp-c-indigo-1: #3451b2;
    --vp-c-indigo-2: #3a5ccc;
    --vp-c-indigo-3: #5672cd;
    --vp-c-indigo-soft: rgba(100, 108, 255, 0.14);
  
    --vp-c-purple-1: #6f42c1;
    --vp-c-purple-2: #7e4cc9;
    --vp-c-purple-3: #8e5cd9;
    --vp-c-purple-soft: rgba(159, 122, 234, 0.14);
  
    --vp-c-green-1: #18794e;
    --vp-c-green-2: #299764;
    --vp-c-green-3: #30a46c;
    --vp-c-green-soft: rgba(16, 185, 129, 0.158);
  
    --vp-c-yellow-1: #915930;
    --vp-c-yellow-2: #946300;
    --vp-c-yellow-3: #9f6a00;
    --vp-c-yellow-soft: rgba(234, 179, 8, 0.14);
  
    --vp-c-red-1: #b8272c;
    --vp-c-red-2: #d5393e;
    --vp-c-red-3: #e0575b;
    --vp-c-red-soft: rgba(244, 63, 94, 0.14);
  
    --vp-c-sponsor: #db2777;
  }
  
  html[data-theme="dark"] {
    --vp-c-gray-1: #515c67;
    --vp-c-gray-2: #414853;
    --vp-c-gray-3: #32363f;
    --vp-c-gray-soft: rgba(101, 117, 133, 0.16);
  
    --vp-c-indigo-1: #a8b1ff;
    --vp-c-indigo-2: #5c73e7;
    --vp-c-indigo-3: #3e63dd;
    --vp-c-indigo-soft: rgba(100, 108, 255, 0.16);
  
    --vp-c-purple-1: #c8abfa;
    --vp-c-purple-2: #a879e6;
    --vp-c-purple-3: #8e5cd9;
    --vp-c-purple-soft: rgba(159, 122, 234, 0.16);
  
    --vp-c-green-1: #3dd68c;
    --vp-c-green-2: #30a46c;
    --vp-c-green-3: #298459;
    --vp-c-green-soft: rgba(16, 185, 129, 0.16);
  
    --vp-c-yellow-1: #f9b44e;
    --vp-c-yellow-2: #da8b17;
    --vp-c-yellow-3: #a46a0a;
    --vp-c-yellow-soft: rgba(234, 179, 8, 0.16);
  
    --vp-c-red-1: #f66f81;
    --vp-c-red-2: #f14158;
    --vp-c-red-3: #b62a3c;
    --vp-c-red-soft: rgba(244, 63, 94, 0.16);
  }

/**
Custom block
 * -------------------------------------------------------------------------- */

 :root {
   --vp-custom-block-font-size: 16px !important;
   --vp-custom-block-code-font-size: 14px;
 
    --vp-custom-block-info-border: #30a46c42 !important;
    --vp-custom-block-info-text: #30a46c !important;
    --vp-custom-block-info-bg: #30a46c11 !important;
    --vp-custom-block-info-code-bg: #30a46c !important;
 
   --vp-custom-block-tip-border: #166fd45b !important;
   --vp-custom-block-tip-text: #22a6aa !important;
   --vp-custom-block-tip-bg: #166fd410 !important;
   --vp-custom-block-tip-code-bg: var(--vp-c-tip-soft);
 
   --vp-custom-block-warning-border: #c6c92057 !important;
   --vp-custom-block-warning-text: #c6c920 !important;
   --vp-custom-block-warning-bg: #d6ab1e1f !important;
   --vp-custom-block-warning-code-bg: var(--vp-c-warning-soft);
 
   --vp-custom-block-danger-border: #c528575e !important;
   --vp-custom-block-danger-text: #c52857 !important;
   --vp-custom-block-danger-bg: #ad263d25 !important;
   --vp-custom-block-danger-code-bg: #e62d36 !important;
 
   --vp-custom-block-details-border: var(--vp-custom-block-info-border);
   --vp-custom-block-details-text: var(--vp-custom-block-info-text);
   --vp-custom-block-details-bg: var(--vp-custom-block-info-bg);
   --vp-custom-block-details-code-bg: var(--vp-custom-block-info-code-bg);

   
} 
html[data-theme="dark"] {
  --vp-custom-block-info-border: #30a46c42 !important;
  --vp-custom-block-info-text: #3dd68c !important;
  --vp-custom-block-info-bg: #18794e1e !important;
  --vp-custom-block-info-code-bg: #3dd68c !important;
}

 /* Customizes links with <a> tag. 
 */
a {
  text-decoration: none !important; /* Removes underline*/
  color: #30a46c !important; /* Change to your desired color */
}

/* Mermaid flowchartdiagram centering */
.vp-doc .mermaid > svg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* Custom font size and color for Mermaid diagrams */
.vp-doc .mermaid * {
  font-size: 15px !important;
  fill: transparent !important;
  font-family: Arial, sans-serif !important;
}


/* Custom table font size */
.vp-doc table,
/* Change font size and color of table header row */
.vp-doc table th{
  font-size: 18px !important;   /* Adjust size as needed */
  color: #c4bcbc !important;    /* Change to your desired color */
  background-color: transparent !important; /* Optional: header background */
}
/* Change font size and color of table data cells */
.vp-doc table td {
  font-size: 16px !important; /* Adjust as needed */
  color: #c4bcbc !important; /* Change to your desired color */
}

/* Ändra fontstorlek i disclaimer */
.disclaimer-text {
  font-size: 14px !important; /* Adjust as needed */
}

/* Custom colors for text spans */

gr { color: #30a46c }
re { color: #C70039 }
re2 { color: #B53311}
ye { color: #D6AB1E }
bl { color: #0CDFF2 }
bl2 { color: #3C72DF}
pu { color: #D61EDE }

/* Custom font sizes for headings */
.vp-doc h1 {
  font-size: 2.5em !important;
  color: #D6AB1E !important;
  line-height: 1.3 !important;
}
.vp-doc h2 {
  font-size: 2.2em !important;
  color: #30a46c !important;
  line-height: 1.3 !important;
}
.vp-doc h3 {
  font-size: 1.7em !important;
  color: #D6AB1E !important;
  line-height: 1.3 !important; /* Adjust value as needed */
}
.vp-doc h4 {
  font-size: 1.3em !important;
  font-style: italic !important;
  line-height: 1.3 !important;
  
}